
body{
    background-color: #BDE6F1;
}

}
@media only screen and (max-width:800px) {
   .bigText{
     font-size: 80px;
   }
   .bigText:hover{
     color: red;
   }
   img{
       width: 40%;
     }
  }

img{
    width: 20%;
  }
#success{
  text-align: center;
  padding: 80px;

}
